a2wsgi==1.4
clickclick==1.2
flask[async]==2.2
inflection==0.3.1
jsonschema==4.0.1
PyJWT==2.3.0
PyYAML==5.1
requests==2.27
starlette==0.15
werkzeug==2.2.1
aiohttp_jinja2
aiohttp
aiohttp_remotes
pytest-aiohttp
inflection
jsonschema
clickclick
werkzeug
starlette
a2wsgi
swagger-ui-bundle